// @media (max-width: 767px)

$pcBreakPoint: 1366;

@function pxToVwPc($pxValue) {
    @return (($pxValue / $pcBreakPoint) * 100)+vw;
}

$spBreakPoint: 375;

@function pxToVwSp($pxValue) {
    @return (($pxValue / $spBreakPoint) * 100)+vw;
}

@font-face {
    font-family: "NotoSansJP-Regular";
    src: url("../fonts/NotoSansJP-Regular.otf") format("otf");
    font-weight: normal;
}

@font-face {
    font-family: "HinaMincho-Regular";
    src: url("../fonts/HinaMincho-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Courgette-Regular";
    src: url("../fonts/Courgette-Regular.ttf") format("truetype");
    font-weight: normal;
}

body {
    border: solid 1vw #442B1F;
    font-family: "NotoSansJP-Regular";
    font-size: pxToVwPc(20);
}

// main
.main {

    &__img {
        width: 100%;
    }
}

// catch
.catch {
    border-top: solid 1vw #442B1F;
    transform: translateY(-0.6vw);
    text-align: center;
    font-size: pxToVwPc(24);
    padding-top: 5vw;

    @media (max-width: 767px) {
        transform: translateY(-1.6vw);
        font-size: 4vw;
    }

    &__text {
        letter-spacing: 1.5vw;
    }

    &__big1 {
        color: #0090A1;
        font-size: 4vw;
        vertical-align: 5%;
        font-family: "HinaMincho-Regular";

        @media (max-width: 767px) {
            font-size: 6vw;
        }
    }

    &__big2 {
        color: #0090A1;
        font-size: 4vw;
        vertical-align: -28%;
        font-family: "HinaMincho-Regular";

        @media (max-width: 767px) {
            font-size: 6vw;
        }
    }

    &__big3 {
        color: #936736;
        font-size: 4vw;
        font-family: "Courgette-Regular";
    }
}

// phototextRamdom
.phototextRamdom {
    position: relative;
    height: 87vw;
    border-bottom: solid 1vw #442B1F;

    @media (max-width: 767px) {
        display: none;
    }

    &__img {
        &--1 {
            width: 40%;
            position: absolute;
            top: 5vw;
            left: 13vw;
            z-index: 1;
        }

        &--2 {
            width: 21%;
            position: absolute;
            top: 24vw;
            left: 36vw;
            z-index: 2;
        }

        &--3 {
            width: 20%;
            position: absolute;
            top: 39vw;
            left: 40vw;
            z-index: 2;
        }

        &--4 {
            width: 37%;
            position: absolute;
            top: 54vw;
            left: 32vw;
            z-index: 1;
        }

        &--5 {
            width: 15%;
            position: absolute;
            top: 23vw;
            left: 82vw;
            z-index: 1;
        }

        &--6 {
            width: 46%;
            position: absolute;
            top: 26vw;
            left: 54vw;
        }

        &--7 {
            width: 29%;
            position: absolute;
            top: 58vw;
            left: 67vw;
            z-index: 2;
        }
    }

    &__text {
        position: absolute;
        top: 5vw;
        left: 60vw;
        font-size: pxToVwPc(20);
        line-height: 4.5vw;
    }

    &__text2 {
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        font-size: pxToVwPc(20);
        position: absolute;
        top: 40vw;
        left: 6vw;
        line-height: 4.5vw;
    }
}

// phototextRamdomSp
.phototextRamdomSp {
    display: none;

    @media (max-width: 767px) {
        display: block;
        position: relative;
        height: 200vw;
        border-bottom: solid 1vw #442B1F;

        &__img--1 {
            width: 58%;
            position: absolute;
            top: 27vw;
            left: 2vw
        }

        &__img--2 {
            width: 54%;
            position: absolute;
            top: 59vw;
            left: 46vw
        }

        &__img--3 {
            width: 79%;
            position: absolute;
            top: 136vw;
            left: 5vw
        }

        &__text {
            position: absolute;
            top: 5vw;
            left: 9vw;
            font-size: pxToVwSp(14);
            line-height: 4.5vw;
        }

        &__text2 {
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            font-size: pxToVwSp(14);
            position: absolute;
            top: 69vw;
            left: 6vw;
            line-height: 4.5vw;
        }
    }
}

// backimgText
.backimgText {
    background: url(../images/wood.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: pxToVwPc(500);

    &__title {
        text-align: center;
        font-family: "Courgette-Regular";
        color: #fff;
        font-size: 4vw;
        padding-top: 4vw;
        @media (max-width: 767px){
            font-size: 6vw;
            padding-top: 2vw;
        }
    }

    &__text {
        padding-top: 1vw;
        font-size: pxToVwPc(20);
        color: #fff;
        text-align: center;
        line-height: 6vw;
        @media (max-width: 767px){
            font-size: pxToVwSp(13);
        }
    }
}

.Courgette {
    font-size: 4vw;
    font-family: "Courgette-Regular";
    @media (max-width: 767px){
        font-size: 5vw;
    }
}

// textPhoto
.textPhotoParent {
    position: relative;

    &__book {
        position: absolute;
        top: -1vw;
        left: 7vw;
        width: 50%;

        @media (max-width: 767px) {
            top: 54vw;
            left: 3vw;
            width: 95%;
            z-index: -1;
        }
    }
}

.textPhoto {
    width: 100%;
    padding-top: 3vw;
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;

    @media (max-width: 767px) {
        display: block;
    }

    &__photo {
        width: 47%;

        @media (max-width: 767px) {
            width: 100%;
            margin: 0 auto;
        }

        &__img {
            width: 100%;
            margin: 0 auto;
            display: block;

            @media (max-width: 767px) {
                width: 80%;
            }
        }
    }

    &__textBox {
        width: 53%;
        padding-left: 18vw;
        padding-top: 3vw;
        z-index: 1;

        @media (max-width: 767px) {
            width: 100%;
            text-align: center;
            padding-left: 0vw;
            padding-top: 7.5vw;
        }

        &__text {
            //width: 80%;
            margin: 0 auto;
            font-family: "NotoSansJP-Regular";
            font-size: pxToVwPc(20);

            @media (max-width: 767px) {
                font-size: pxToVwSp(13);
                padding-top: pxToVwSp(10);
                width: 100%;
                line-height: 4.2vw;
            }
        }
    }
}

// menu
.menu {
    margin-top: 6vw;
    padding-top: 4vw;
    background-image: url(../images/wood.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 47vw;
    border-top: solid 1vw #442B1F;
    border-bottom: solid 1vw #442B1F;
    @media (max-width: 767px){
        height: 280vw;
        padding-top: 6vw;
        margin-top: 16vw;
    }

    &__title {
        text-align: center;
        font-size: 4vw;
        font-family: "Courgette-Regular";
        color: #fff;
        @media (max-width: 767px){
            font-size: 6vw;
        }
    }

    &__flex {
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin: 0 auto;
        padding-top: 3vw;
        @media (max-width: 767px){
            display: block;
        }

        &__item {
            color: #fff;
            width: 25%;
            @media (max-width: 767px){
                width: 80%;
                margin: 0 auto;
                margin-top: 5vw;
            }

            &--center {
                transform: translateY(3vw);
            }

            &--right {
                transform: translateY(1.5vw);
            }

            &__img {
                width: 100%;
                border: 0.5vw solid #fff;

                &--left {
                    transform: rotate(-5deg);
                }

                &--center {
                    transform: rotate(7deg);

                }

                &--right {
                    transform: rotate(-2deg);
                }
            }

            &__title {
                font-weight: bold;
                font-size: pxToVwPc(24);
                padding-top: 1vw;
                @media (max-width: 767px){
                    font-size: 4vw;
                    padding-top: 6vw;
                }
            }

            &__text {
                font-size: pxToVwPc(20);
                @media (max-width: 767px){
                    font-size: pxToVwSp(14);
                }
            }
        }
    }
}

// mapTable
.mapTable {
    width: 80%;
    font-family: "NotoSansJP-Regular";
    font-size: pxToVwPc(20);
    margin: 5vw auto 0 auto;

    @media (max-width: 767px) {
        font-size: pxToVwSp(14);
    }

    &__title {
        text-align: center;
        font-size: 4vw;
        font-family: "Courgette-Regular";
        padding-bottom: 4vw;
        @media (max-width: 767px){
            font-size: 6vw;
        }
    }

    &__flex {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        @media (max-width: 767px) {
            display: block;
        }

        &__table {
            width: 60%;
            border-width: 2px 0 0 2px;
            border: solid #736456;
            border-collapse: collapse;
            margin-left: 5vw;

            @media (max-width: 767px) {
                width: 100%;
                margin-left: 0vw;
            }

            &__tr {
                height: pxToVwPc(60);

                &__td {

                    &:first-child {
                        background-color: #736456;
                        border-bottom: 2px solid #fff;
                        text-align: center;
                        color: #fff;
                        font-weight: bold;
                        width: 28%;
                    }

                    &--last {
                        border-bottom: 2px solid #736456 !important;
                    }

                    &:last-child {
                        border-bottom: 2px solid #736456;
                        padding-left: pxToVwPc(20);
                        width: 72%;
                    }
                }
            }
        }
    }
}

iframe {
    width: 35%;
    @media (max-width: 767px){
        margin-top: 3vw;
        width: 100%;
    }
}

// recruit
.recruit {
    margin-top: 5vw;
    padding-bottom: 5vw;
    background-image: url(../images/wood.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: solid 1vw #442B1F;
    border-top: solid 1vw #442B1F;

    &__title {
        padding-top: 3vw;
        text-align: center;
        font-size: 4vw;
        font-family: "Courgette-Regular";
        color: #fff;
        @media (max-width: 767px){
            font-size: 6vw;
            padding-top: 5vw;
        }
    }

    &__img {
        display: block;
        margin: 3vw auto 0 auto;
        border: 0.5vw solid #000;
        transform: rotate(-3deg);
        @media (max-width: 767px){
            width: 70%;
        }
    }
}

.footer {
    text-align: center;

    &__text {
        font-size: pxToVwPc(16);
        padding: 1vw 0 1vw 0;
    }
}